TEXMFHOME= {/home/dani/git/TUD_MATH_BA/texmf,{/home/dani/git/TUD_MATH_BA/texmf,{/home/dani/git/TUD_MATH_BA/texmf,{/home/dani/git/TUD_MATH_BA/texmf,{/home/dani/git/TUD_MATH_BA/texmf,{/home/dani/git/TUD_MATH_BA/texmf,{/home/dani/git/TUD_MATH_BA/texmf,{/home/dani/git/TUD_MATH_BA/texmf,{/home/dani/git/TUD_MATH_BA/texmf,{/home/dani/git/TUD_MATH_BA/texmf,{/home/dani/git/TUD_MATH_BA/texmf,{/home/dani/git/TUD_MATH_BA/texmf,{/home/dani/git/TUD_MATH_BA/texmf,{/home/dani/git/TUD_MATH_BA/texmf,{/home/dani/git/TUD_MATH_BA/texmf,{/home/dani/git/TUD_MATH_BA/texmf,{/home/dani/git/TUD_MATH_BA/texmf,{/home/dani/git/TUD_MATH_BA/texmf,{/home/dani/git/TUD_MATH_BA/texmf,{/home/dani/git/TUD_MATH_BA/texmf,{/home/dani/git/TUD_MATH_BA/texmf,{/home/dani/git/TUD_MATH_BA/texmf,~/texmf}}}}}}}}}}}}}}}}}}}}}}
